:focus-visible {
  outline: 1px solid var(--vp-c-brand);
  outline-offset: -1px;
}
.vp-doc a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.VPNavBar .title { /* regress in vitepress@2.0.0-alpha.20 */
  min-width: revert !important;
}
