name: check-translations

on:
  push:
    branches:
      - master
    paths:
      - "**/*.md"

jobs:
  build-badge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - name: Generate badge
        run: node ci/translations.ts --json

      - name: Setup Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and push changes
        run: |
          git add -A
          if git commit -m "chore(translations): update badge"; then
            git push
          else
            echo "No changes to commit"
          fi
